/* Basic styling for the webpage */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #0443DB;
    color: white;
    padding: 20px;
    background-image: url('https://www.transparenttextures.com/patterns/food.png');
}

h1 {
    font-size: 7em;
    margin-bottom: 20px;
    font-family: "Barriecito", system-ui;
}

#gestureBox {
    width: 300px;
    height: 300px;
    margin: 20px auto;
    background-color: #DB2B04;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
    font-size: 1.2em;
    border-radius: 15px;
    transition: background 0.3s ease-in-out;
    background-size: cover;
    background-repeat: no-repeat;
}



button {
    background-color: #89DB04;
    color: white;
    font-size: 1em;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 10px;
    transition: background 0.3s ease-in-out;
    font-family: "Barriecito", system-ui;
}

button:hover {
    background-color: #DB2B04;
}

#output {
    font-size: 1.2em;
    margin-top: 15px;
}



.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode #gestureBox {
    background-color: #444;
}

.dark-mode button {
    background-color: #555;
    color: #ffffff;
}

.dark-mode button:hover {
    background-color: #777;
}

@media (max-width: 600px) {
    #gestureBox {
        width: 90%;
        height: 250px;
    }

    button {
        width: 90%;
    }
    
    #ad{
        height: 80%;
        width: 40%;
    }
}


@media (max-width: 768px) {
    #gestureBox {
        width: 90%;
        height: 250px;
    }

    button {
        width: 80%;
        font-size: 1rem;
        padding: 12px;
    }

    h1 {
        font-size: 1.8rem;
    }
    #ad{
        height: 80%;
        width: 40%;
    }
}

@media (max-width: 480px) {
    #gestureBox {
        width: 95%;
        height: 200px;
    }

    button {
        width: 90%;
        font-size: 0.9rem;
        padding: 10px;
    }

    h1 {
        font-size: 1.5rem;
    }
    #ad{
        height: 80%;
        width: 40%;
    }
}